
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-ok:before { content: '\e801'; } /* '' */
.icon-gplus:before { content: '\f05a'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
